{#
/**
 * @file entity-print--se-quote.html.twig
 * Entity print specific implementation of the quote output.
 *
 * @see template_preprocess_entity_print__se_quote()
 *
 * @ingroup themeable
 */
#}
<!DOCTYPE html>
<html{{ html_attributes.addClass('h-100') }}>
<head>
  <meta charset="utf-8">
  <title>{{ title }}</title>
  {{ entity_print_css }}
</head>
<body>
  <div{{ attributes.addClass('entity-print-se-quote') }}>

    {% if store_logo %}
    <div class="logo">
        <img src="{{ store_logo }}" alt="{{ 'Store logo'|t }}" />
    </div>
    {% endif %}

    <div class="company-address">
      <div class="store-name">{{ store_name }}</div>
      <div class="store-address">{{ store_address }}</div>
      <div class="store-suburb">{{ store_suburb }}</div>
      <div class="store-state">{{ store_state }}</div>
      <div class="store-postcode">{{ store_postcode }}</div>
    </div>
    <div class="details"><h1>Quote</h1>
      <div class="tax-info">ABN: {{ tax_information }}</div>
      <div class="quote-date">Date: {{ quote_date }}</div>
      <div class="quote-number">Quote no: {{ quote_number }}</div>
    </div>
    <div class="bill-to">
      <strong>Bill to</strong>
      <div class="customer-name">{{ customer_name }}</div>
      <div class="customer-address">{{ customer_address }}</div>
      <div class="customer-suburb">{{ customer_suburb }}</div>
      <div class="customer-state">{{ customer_state }}</div>
      <div class="customer-postcode">{{ customer_postcode }}</div>
    </div>
    <div class="info-pane">
      <table>
        <thead>
          <tr>
            <th>Due Date</th>
            <th>Rep</th>
          </tr>
        </thead>
        <tbody>
          <tr class="odd">
            <td>{{ due_date }}</td>
            <td>{{ sales_rep }}</td>
          </tr>
        </tbody>
      </table>
    </div>

    {% if content %}
      {{- content -}}
    {% endif %}

    <div class="bank-details">
      {{ bank_details }}
    </div>
    <div class="contact-details">
      {{ contact_details }}
    </div>

  </div>
</body>
